body{
  background-image: url("/media/images/familyCal_landing_page.jpeg");
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.login_button{
  position: absolute;
  right: 0;
  padding-right: 1em;
  padding-top: 1em;
}
#hamburger_menu{
  padding-left: 2em;
}
#main_content_box{
  width: 40em;
  height: 30em;
  margin-left: 2em;
  background-color: rgba(178,199,200,0.5);
}

#main_content_title{
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 3em;
  position: relative;
  top: 1em;

}
#main_content_description{
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 2em;
  position: relative;
  top: 1.75em;
}
