body{
  background-image: url("/media/images/familyCal_landing_page.jpeg");
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.login_button{
  position: absolute;
  right: 0;
  padding-right: 1em;
  padding-top: 1em;
}
#hamburger_menu{
  padding-left: 2em;
}
#main_content_box{
  width: 40em;
  height: 30em;
  margin-left: 2em;
  background-color: rgba(178,199,200,0.5);
}

#main_content_title{
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 3em;
  position: relative;
  top: 1em;

}
#main_content_description{
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 2em;
  position: relative;
  top: 1.75em;
}
#main_page_signUp_button{
  color:white;
}
.sign_up_button{
  width: 10em;
  height: 2em;
  font-family: arial;
  font-size: 2em;
  position: absolute;
  left: 26.5em;
  bottom: 7em;
  background-color: rgba(178,199,200,0.9);
}
.sign_up_button_link{
  text-decoration: none;
  color: white;
}

/* Sign Up Page styling */
.sign_up_email_button{
  position: relative;
  left: 12em;
  top: 1em;
  margin: 0,auto;
  width: 40%;
  height: 3em;
  background-color: rgba(178,199,200,0.9);
  text-decoration: none;
  font-family: arial;
  font-size: 2em;
  color: white;
}
.sign_up_email_button a{
  text-decoration: none;

}

.sign_up_facebook_button{
  position: relative;
  left: 12em;
  top: 8em;
  margin: 0,auto;
  width: 40%;
  height: 3em;
  background-color: rgba(178,199,200,0.9);
  font-family: arial;
  font-size: 2em;
  color: white;
}
.sign_up_facebook_button a{
  text-decoration: none;

}

/* Sign up With Email Form Styling */
form{
  position: relative;
  top: 5em;
}
#formFirstName{
  position: relative;
  left: 20em;
  width: 20em;
  height: 2em;
  border-radius:4px;
  border: 0;
  padding: .25em;
}
#formLastName{
  position: relative;
  left: 42em;
  bottom: 2.5em;
  width: 20em;
  height: 2em;
  border-radius:4px;
  border: 0;
  padding: 0.25em;

}
#formEmail{
  position: relative;
  left: 20em;
  bottom: 1.5em;
  width: 42em;
  height: 2em;
  border-radius:4px;
  border: 0;
  padding: 0.25em;
}
#formPassword{
  position: relative;
  left: 20em;
  bottom: .5em;
  width: 42em;
  height: 2em;
  border-radius:4px;
  border: 0;
  padding: 0.25em;
}
.form_button{
  position: relative;
  left: 20em;
  top:1em;
  width: 10em;
  height: 2em;
  border-radius:4px;
  border: 0;
  padding: 0.25em;
  background-color: rgb(125,184,94);
  color: white;
}
