<div>
    <div id="main_content_box">
      <div id="main_content">
          <h1 id="main_content_title">
            About Family Cal ....
          </h1>
          <h3 id="main_content_description">
            Imagine you had a tour guide with you every family outing  you went on. Family Cal is powered by local parents to help you discover what the locals love to do with their family.
          </h3>
      </div>
    </div>


        <button>
          Sign-Up
        </button>
    </div>

</div>

<a href="#/sign_up">Sign Up Page</a>
