
<form>
  <div class="form-group">
    <input type="Name" class="form-control" id="formFirstName" placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="Name" class="form-control" id="formLastName" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="formEmail" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="formPassword" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-success form_button">Submit</button>
</form>
